<!DOCTYPE html>
<html>
  <head>
    <title>Stargram</title>
    <link rel='stylesheet' href='/style/style.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div style="margin-left:17px; margin-top:15.5px;">
      <div style="margin-bottom:34.5px;">
        <img class="arrow_bg_1" src="img/arrow-bg-1.png" srcset="img/arrow-bg-1.png 2x,img/arrow-bg-1.png 3x">
      </div>
      <div class="login-container">
        <div class="row login-title ">
          이메일 로그인
        </div>

        <div class="input-container">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s10">
                <input type="text" placeholder="이메일 주소 입력"/>
              </div>
              <div class="input-field col s10">
                <input type="password" placeholder="비밀번호 입력"/>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col s10">
            <div class="row">
              <a class="waves-effect waves-light btn" style="width: -webkit-fill-available;">로그인</a>
            </div>
          </div>
        </div>

        <div class="row hint" style="text-align:center;">
          <div class="col s10">
            <u>비밀번호를 잊으셨나요?</u>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
