<!DOCTYPE html>
<html>
  <head>
    <title>Stargram</title>
    <link rel='stylesheet' href='/style/style.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- Compiled and minified CSS -->
    <% include ../include/include.ejs %>
  </head>
  <body>
    <div class="login-nav-top">
      <div style="padding-left:17px; padding-top:15.5px;">
        <div style="margin-bottom:4.5px;">
          <img class="arrow_bg_1" src="img/arrow-bg-2.png" srcset="img/arrow-bg-2.png 2x,img/arrow-bg-2.png 3x">
        </div>
      </div>
      <div class="login-nav-title">
        Stargram
      </div>
      <div class="login-nav-sub-title">
        팔로워 및 전세계 사람들과<br/>함께 미션을 즐기세요
      </div>
      <div class="center">
        <img style="object-fit: contain; mix-blend-mode: multiply;" src="/img/login/back-image-1.png">
      </div>
    </div>

    <div class="login-nav-bottom center">
      <div class="row">
        <div class="col s12">
          <div class="row">
            <img src="/img/login/google-btn.png"/>
          </div>
          <div class="row">
            <img src="/img/login/facebook-btn.png"/>
          </div>
        </div>
        <div class="hint center" >
          <u>이메일로 로그인 / 회원가입</u>
        </div>
      </div>
    </div>
  </body>
</html>
