<!DOCTYPE html>
<html>
  <head>
    <title>Stargram</title>
    <link rel='stylesheet' href='/style/style.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <% include ../include/include.ejs %>
  </head>
  <body>
    <div style="margin-left:17px; margin-top:15.5px;">
      <div style="margin-bottom:34.5px;">
        <img class="arrow-back" src="img/arrow-bg-1.png" srcset="img/arrow-bg-1.png 2x,img/arrow-bg-1.png 3x">
      </div>
      <div class="login-container">
        <div class="row login-title" data-i18n="login.tEmailLogin">

        </div>

        <div class="input-container">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s10">
                <input type="text" data-i18n="[placeholder]login.iEmail" />
              </div>
              <div class="input-field col s10">
                <input type="password" data-i18n="[placeholder]login.iPw"/>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col s10">
            <div class="row">
              <a class="waves-effect waves-light btn" style="width: -webkit-fill-available;" data-i18n="login.tLogin"></a>
            </div>
          </div>
        </div>

        <div class="row hint" style="text-align:center;">
          <div class="col s10">
            <u data-i18n="login.tForgotPw"></u>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
